In [20]:
import pandas as pd
import psycopg2
from psycopg2 import sql
import os
from getpass import getpass

In [21]:
PGEND_POINT = 'f1stats.cos0zhtpa15v.us-east-1.rds.amazonaws.com' # End_point
PGDATABASE_NAME = 'F1_stats' # Database name
PGUSER_NAME = 'postgres' # UserName
PGPASSWORD = getpass('Enter database password')

Enter database password········

In [22]:
def connect():
    
    # Set up a connection to the postgres server.
    conn_string = "host="+ PGEND_POINT +" port="+ "5432" +" dbname="+ PGDATABASE_NAME +" user=" + PGUSER_NAME \
                  +" password="+ PGPASSWORD
    
    conn = psycopg2.connect(conn_string)
    print("Connected!")

    # Create a cursor object
    cursor = conn.cursor()
    
    return conn, cursor

In [23]:
conn, cursor = connect()

Connected!

In [24]:
circuits = sql.SQL("""SELECT * FROM circuits""");
driver_stnd = sql.SQL("""SELECT * FROM driver_stnd""");
drivers = sql.SQL("""SELECT * FROM drivers""");
lap_times = sql.SQL("""SELECT * FROM lap_times""");
pit_stops = sql.SQL("""SELECT * FROM pit_stops""");
quali = sql.SQL("""SELECT * FROM quali""");
results = sql.SQL("""SELECT * FROM results""");
sprint_rslt = sql.SQL("""SELECT * FROM sprint_rslt""");
status = sql.SQL("""SELECT * FROM status""");

In [31]:
cur = conn.cursor()
cur.execute(circuits)
print(cur.fetchall())

[(1, 'albert_park', 'Albert Park Grand Prix Circuit'), (2, 'sepang', 'Sepang International Circuit'), (3, 'bahrain', 'Bahrain International Circuit'), (4, 'catalunya', 'Circuit de Barcelona-Catalunya'), (5, 'istanbul', 'Istanbul Park'), (6, 'monaco', 'Circuit de Monaco'), (7, 'villeneuve', 'Circuit Gilles Villeneuve'), (8, 'magny_cours', 'Circuit de Nevers Magny-Cours'), (9, 'silverstone', 'Silverstone Circuit'), (10, 'hockenheimring', 'Hockenheimring'), (11, 'hungaroring', 'Hungaroring'), (12, 'valencia', 'Valencia Street Circuit'), (13, 'spa', 'Circuit de Spa-Francorchamps'), (14, 'monza', 'Autodromo Nazionale di Monza'), (15, 'marina_bay', 'Marina Bay Street Circuit'), (16, 'fuji', 'Fuji Speedway'), (17, 'shanghai', 'Shanghai International Circuit'), (18, 'interlagos', 'Autódromo José Carlos Pace'), (19, 'indianapolis', 'Indianapolis Motor Speedway'), (20, 'nurburgring', 'Nürburgring'), (21, 'imola', 'Autodromo Enzo e Dino Ferrari'), (22, 'suzuka', 'Suzuka Circuit'), (24, 'yas_marina', 'Yas Marina Circuit'), (25, 'galvez', 'Autódromo Juan y Oscar Gálvez'), (26, 'jerez', 'Circuito de Jerez'), (27, 'estoril', 'Autódromo do Estoril'), (28, 'okayama', 'Okayama International Circuit'), (29, 'adelaide', 'Adelaide Street Circuit'), (30, 'kyalami', 'Kyalami'), (31, 'donington', 'Donington Park'), (32, 'rodriguez', 'Autódromo Hermanos Rodríguez'), (33, 'phoenix', 'Phoenix street circuit'), (34, 'ricard', 'Circuit Paul Ricard'), (35, 'yeongam', 'Korean International Circuit'), (36, 'jacarepagua', 'Autódromo Internacional Nelson Piquet'), (37, 'detroit', 'Detroit Street Circuit'), (38, 'brands_hatch', 'Brands Hatch'), (39, 'zandvoort', 'Circuit Park Zandvoort'), (40, 'zolder', 'Zolder'), (41, 'dijon', 'Dijon-Prenois'), (42, 'dallas', 'Fair Park'), (43, 'long_beach', 'Long Beach'), (44, 'las_vegas', 'Las Vegas Street Circuit'), (45, 'jarama', 'Jarama'), (46, 'watkins_glen', 'Watkins Glen'), (47, 'anderstorp', 'Scandinavian Raceway'), (48, 'mosport', 'Mosport International Raceway'), (49, 'montjuic', 'Montjuïc'), (50, 'nivelles', 'Nivelles-Baulers'), (51, 'charade', 'Charade Circuit'), (52, 'tremblant', 'Circuit Mont-Tremblant'), (53, 'essarts', 'Rouen-Les-Essarts'), (54, 'lemans', 'Le Mans'), (55, 'reims', 'Reims-Gueux'), (56, 'george', 'Prince George Circuit'), (57, 'zeltweg', 'Zeltweg'), (58, 'aintree', 'Aintree'), (59, 'boavista', 'Circuito da Boavista'), (60, 'riverside', 'Riverside International Raceway'), (61, 'avus', 'AVUS'), (62, 'monsanto', 'Monsanto Park Circuit'), (63, 'sebring', 'Sebring International Raceway'), (64, 'ain-diab', 'Ain Diab'), (65, 'pescara', 'Pescara Circuit'), (66, 'bremgarten', 'Circuit Bremgarten'), (67, 'pedralbes', 'Circuit de Pedralbes'), (68, 'buddh', 'Buddh International Circuit'), (69, 'americas', 'Circuit of the Americas'), (70, 'red_bull_ring', 'Red Bull Ring'), (71, 'sochi', 'Sochi Autodrom'), (73, 'baku', 'Baku City Circuit'), (75, 'portimao', 'Autódromo Internacional do Algarve'), (76, 'mugello', 'Autodromo Internazionale del Mugello'), (77, 'jeddah', 'Jeddah Corniche Circuit'), (78, 'losail', 'Losail International Circuit'), (79, 'miami', 'Miami International Autodrome')]

In [32]:
cur = conn.cursor()
cur.execute(circuits)

In [33]:
circuit_df = pd.DataFrame(cur.fetchall(), columns=['circuitId', 'circuitRef', 'circ_name'])
circuit_df.head()

   circuitId   circuitRef                       circ_name
0          1  albert_park  Albert Park Grand Prix Circuit
1          2       sepang    Sepang International Circuit
2          3      bahrain   Bahrain International Circuit
3          4    catalunya  Circuit de Barcelona-Catalunya
4          5     istanbul                   Istanbul Park

In [34]:
cur = conn.cursor()
cur.execute(driver_stnd)

In [35]:
driver_stnd_df = pd.DataFrame(cur.fetchall(), columns=['driverId', 'raceId', 'points', 'position', 'wins'])
driver_stnd_df.head()

   driverId  raceId points position  wins
0         1      18     10        1     1
1         2      18      8        2     0
2         3      18      6        3     0
3         4      18      5        4     0
4         5      18      4        5     0