In [1]:
import pandas as pd
import psycopg2
from psycopg2 import sql
import os
from getpass import getpass

In [2]:
PGEND_POINT = 'f1stats.cos0zhtpa15v.us-east-1.rds.amazonaws.com' # End_point
PGDATABASE_NAME = 'F1_stats' # Database name
PGUSER_NAME = 'postgres' # UserName
PGPASSWORD = getpass('Enter database password')

Enter database password········

In [3]:
def connect():
    
    # Set up a connection to the postgres server.
    conn_string = "host="+ PGEND_POINT +" port="+ "5432" +" dbname="+ PGDATABASE_NAME +" user=" + PGUSER_NAME \
                  +" password="+ PGPASSWORD
    
    conn = psycopg2.connect(conn_string)
    print("Connected!")

    # Create a cursor object
    cursor = conn.cursor()
    
    return conn, cursor

In [4]:
conn, cursor = connect()

Connected!

In [5]:
circuits = sql.SQL("""SELECT * FROM circuits""");
driver_stnd = sql.SQL("""SELECT * FROM driver_stnd""");
drivers = sql.SQL("""SELECT * FROM drivers""");
lap_times = sql.SQL("""SELECT * FROM lap_times""");
pit_stops = sql.SQL("""SELECT * FROM pit_stops""");
quali = sql.SQL("""SELECT * FROM quali""");
results = sql.SQL("""SELECT * FROM results""");
sprint_rslt = sql.SQL("""SELECT * FROM sprint_rslt""");
status = sql.SQL("""SELECT * FROM status""");

In [6]:
cur = conn.cursor()
cur.execute(circuits)
print(cur.fetchall())

[(1, 'albert_park', 'Albert Park Grand Prix Circuit'), (2, 'sepang', 'Sepang International Circuit'), (3, 'bahrain', 'Bahrain International Circuit'), (4, 'catalunya', 'Circuit de Barcelona-Catalunya'), (5, 'istanbul', 'Istanbul Park'), (6, 'monaco', 'Circuit de Monaco'), (7, 'villeneuve', 'Circuit Gilles Villeneuve'), (8, 'magny_cours', 'Circuit de Nevers Magny-Cours'), (9, 'silverstone', 'Silverstone Circuit'), (10, 'hockenheimring', 'Hockenheimring'), (11, 'hungaroring', 'Hungaroring'), (12, 'valencia', 'Valencia Street Circuit'), (13, 'spa', 'Circuit de Spa-Francorchamps'), (14, 'monza', 'Autodromo Nazionale di Monza'), (15, 'marina_bay', 'Marina Bay Street Circuit'), (16, 'fuji', 'Fuji Speedway'), (17, 'shanghai', 'Shanghai International Circuit'), (18, 'interlagos', 'Autódromo José Carlos Pace'), (19, 'indianapolis', 'Indianapolis Motor Speedway'), (20, 'nurburgring', 'Nürburgring'), (21, 'imola', 'Autodromo Enzo e Dino Ferrari'), (22, 'suzuka', 'Suzuka Circuit'), (24, 'yas_marina', 'Yas Marina Circuit'), (25, 'galvez', 'Autódromo Juan y Oscar Gálvez'), (26, 'jerez', 'Circuito de Jerez'), (27, 'estoril', 'Autódromo do Estoril'), (28, 'okayama', 'Okayama International Circuit'), (29, 'adelaide', 'Adelaide Street Circuit'), (30, 'kyalami', 'Kyalami'), (31, 'donington', 'Donington Park'), (32, 'rodriguez', 'Autódromo Hermanos Rodríguez'), (33, 'phoenix', 'Phoenix street circuit'), (34, 'ricard', 'Circuit Paul Ricard'), (35, 'yeongam', 'Korean International Circuit'), (36, 'jacarepagua', 'Autódromo Internacional Nelson Piquet'), (37, 'detroit', 'Detroit Street Circuit'), (38, 'brands_hatch', 'Brands Hatch'), (39, 'zandvoort', 'Circuit Park Zandvoort'), (40, 'zolder', 'Zolder'), (41, 'dijon', 'Dijon-Prenois'), (42, 'dallas', 'Fair Park'), (43, 'long_beach', 'Long Beach'), (44, 'las_vegas', 'Las Vegas Street Circuit'), (45, 'jarama', 'Jarama'), (46, 'watkins_glen', 'Watkins Glen'), (47, 'anderstorp', 'Scandinavian Raceway'), (48, 'mosport', 'Mosport International Raceway'), (49, 'montjuic', 'Montjuïc'), (50, 'nivelles', 'Nivelles-Baulers'), (51, 'charade', 'Charade Circuit'), (52, 'tremblant', 'Circuit Mont-Tremblant'), (53, 'essarts', 'Rouen-Les-Essarts'), (54, 'lemans', 'Le Mans'), (55, 'reims', 'Reims-Gueux'), (56, 'george', 'Prince George Circuit'), (57, 'zeltweg', 'Zeltweg'), (58, 'aintree', 'Aintree'), (59, 'boavista', 'Circuito da Boavista'), (60, 'riverside', 'Riverside International Raceway'), (61, 'avus', 'AVUS'), (62, 'monsanto', 'Monsanto Park Circuit'), (63, 'sebring', 'Sebring International Raceway'), (64, 'ain-diab', 'Ain Diab'), (65, 'pescara', 'Pescara Circuit'), (66, 'bremgarten', 'Circuit Bremgarten'), (67, 'pedralbes', 'Circuit de Pedralbes'), (68, 'buddh', 'Buddh International Circuit'), (69, 'americas', 'Circuit of the Americas'), (70, 'red_bull_ring', 'Red Bull Ring'), (71, 'sochi', 'Sochi Autodrom'), (73, 'baku', 'Baku City Circuit'), (75, 'portimao', 'Autódromo Internacional do Algarve'), (76, 'mugello', 'Autodromo Internazionale del Mugello'), (77, 'jeddah', 'Jeddah Corniche Circuit'), (78, 'losail', 'Losail International Circuit'), (79, 'miami', 'Miami International Autodrome')]

In [18]:
cur = conn.cursor()
cur.execute(circuits)

circuit_df = pd.DataFrame(cur.fetchall(), columns=['circuitId', 'circuitRef', 'circ_name'])
circuit_df.head(10)

   circuitId      circuitRef                       circ_name
0          1     albert_park  Albert Park Grand Prix Circuit
1          2          sepang    Sepang International Circuit
2          3         bahrain   Bahrain International Circuit
3          4       catalunya  Circuit de Barcelona-Catalunya
4          5        istanbul                   Istanbul Park
5          6          monaco               Circuit de Monaco
6          7      villeneuve       Circuit Gilles Villeneuve
7          8     magny_cours   Circuit de Nevers Magny-Cours
8          9     silverstone             Silverstone Circuit
9         10  hockenheimring                  Hockenheimring

In [19]:
cur = conn.cursor()
cur.execute(driver_stnd)

driver_stnd_df = pd.DataFrame(cur.fetchall(), columns=['driverId', 'raceId', 'points', 'position', 'wins'])
driver_stnd_df.head(10)

   driverId  raceId points position  wins
0         1      18     10        1     1
1         2      18      8        2     0
2         3      18      6        3     0
3         4      18      5        4     0
4         5      18      4        5     0
5         6      18      3        6     0
6         7      18      2        7     0
7         8      18      1        8     0
8         1      19     14        1     1
9         2      19     11        3     0

In [14]:
cur = conn.cursor()
cur.execute(results)

driver_stnd_df = pd.DataFrame(cur.fetchall(), columns=['driverId', 'raceId', 'grid', 'position', 'positionText', 'positionOrder', 'points', 'laps', 'fastestLap', 'rank', 'race_ms', 'fastestLapTime', 'fastestLapSpeed', 'statusId'])
driver_stnd_df.head(10)

,driverId,raceId,grid,position,positionText,positionOrder,points,laps,fastestLap,rank,race_ms,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,1,1,10,58,39,2,5690616,01:27.5,218.3,1
1,2,18,5,2,2,2,8,58,41,3,5696094,01:27.7,217.586,1
2,3,18,7,3,3,3,6,58,41,5,5698779,01:28.1,216.719,1
3,4,18,11,4,4,4,5,58,58,7,5707797,01:28.6,215.464,1
4,5,18,3,5,5,5,4,58,43,1,5708630,01:27.4,218.385,1
5,6,18,13,6,6,6,3,57,50,14,\N,01:29.6,212.974,11
6,7,18,17,7,7,7,2,55,22,12,\N,01:29.5,213.224,5
7,8,18,15,8,8,8,1,53,20,4,\N,01:27.9,217.18,5
8,9,18,2,\N,R,9,0,47,15,9,\N,01:28.8,215.1,4
9,10,18,18,\N,R,10,0,43,23,13,\N,01:29.6,213.166,3

In [17]:
cur = conn.cursor()
cur.execute(drivers)

driver_stnd_df = pd.DataFrame(cur.fetchall(), columns=['driverId', 'dob', 'nationality', 'dob_formatted'])
driver_stnd_df.head(10)

   driverId         dob nationality dob_formatted
0        66  12/29/1969     British          1969
1        78   3/19/1964     Italian          1964
2        79   5/29/1963    Japanese          1963
3        80   10/7/1966     Italian          1966
4        81   1/13/1968     Italian          1968
5        82   1/20/1975   Argentine          1975
6        83   3/20/1972  Portuguese          1972
7        84    6/1/1959     British          1959
8        85   5/30/1964     Italian          1964
9        86   2/18/1958     Italian          1958